.container a {
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  background: #FFFFFF;
  transition: background 0.3s ease;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  margin-top: 30px;
}

.container a:hover {
  color: grey;
  background: #feeeee;
  text-decoration: none;
}
